<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ArdPower</title>

   <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <!-- <link rel="stylesheet" href="../static/style_views/style.css"> -->
   <link rel="stylesheet" href="{{url_for('static', filename='../static/style_views/style.css')}}">
</head>
<body>
    <header class="header">
       <a href="#" class="logo">Shop.</a>

      <nav class="navbar"> 
           <a href="#home"style="--i:12;" class="active">Home</a>
           <a href="#about"style="--i:13;">About</a>
           <a href="#services"style="--i:14;">Services</a>
           <a href="#portfolio"style="--i:15;">Shopping</a>
           <a href="#contact"style="--i:16;">Contacts </a>
       </nav>
       <div class="toglle" >
           <i class="bx bx-moon toggle-icone "></i>
       </div> 
           
       <div class="bx bx-menu" id="menu-icon" ></div>
    </header> 
    <section class="home" id="home">
       <div class="home-content">
           <h1>Shopping</h1>
           <h3> At Home</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus molestiae reprehenderit
                repudiandae fuga enim excepturi fugit ab libero.</p>


                <div class="social-media">
                   <a href="https://www.facebook.com/?locale=fr_FR"style=--i:7;><i class='bx bxl-facebook' ></i></a>
                   <a href="https://twitter.com/home"style=--i:8;><i class='bx bxl-twitter' ></i></a>
                   <a href="https://www.instagram.com/"style=--i:9;><i class='bx bxl-instagram-alt' ></i></a>
                   <a href="https://fr.linkedin.com/"style=--i:10;><i class='bx bxl-linkedin' ></i></a>
               </div>

               <a href="#" class="btn" id="myButton_">Se connecté</a>
               <a href="#" class="btn" id="myButton">S'inscrire</a>
       </div>
       <div class="profession-container">
           <div class="profession-box">
               <div class="profession"style="--i:0;" >
                   <i class='bx bx-code-alt' ></i>
                   <h3>Web Developer</h3>
               </div>
               <div class="profession"style="--i:1;">
                   <i class='bx bx-camera' ></i>
                   <h3>Photographer</h3>
               </div>
               <div class="profession"style="--i:2;">
                   <i class='bx bx-palette' ></i>
                   <h3>Web Desinger</h3>
               </div>
               <div class="profession"style="--i:3;">
                   <i class='bx bx-video-recording' ></i>
                   <h3>Videographer</h3>
               </div>
               <div class="circle"></div>
           </div>

           <div class="overlay"></div>

           <div class="home-img">
               <!-- <img src="../assets/Capture_d_écran_2024-07-22_170630-removebg-preview.png" alt=""> -->
               <img src="{{url_for('static', filename='../static/assets/Capture_d_écran_2024-07-22_170630-removebg-preview.png')}}" alt="">
           </div>
       </div>

    </section>

    <section class="about" id="about">
       <div class="about-img">
           <img src="https://img.freepik.com/premium-photo/3d-illuhttps://img.freepik.com/free-photo/profession-designer_1098-13018.jpg?semt=ais_userstration-shape-laptop_960286-656.jpg?semt=sph" alt="">
       </div>

       <div class="about-content">
           <h2 class="heading"> About <span>Me</span></h2>
           <h3>Hi, I'm Here TO help Your Next Project!</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
                laudantium ullam nam eos ipsam consectetur delectus voluptas rerum, sit est quod dignissimos hic saepe inventore et
                 cum molestias nulla ipsa, eius dolor
                sint blanditiis qui modi. Repudiandae temporibus maiores in.</p>
                <a href="#" class="btn">Read More</a>
       </div>
    </section>

    <section class="services" id="services">
       <h2 class="heading">My <span>Services</span></h2>

      <div class="services-container">
      
         <div class="services-box">
           <i class='bx bx-code-alt' ></i>
           <h3>Web Development</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Impedit autem a delectus voluptatem sint. Iure inventore,
                eaque ducimus harum quod facilis dolores.            
           </p>
           <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
           <i class='bx bxs-paint' ></i>
           <h3>Graphic Design</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Impedit autem a delectus voluptatem sint. Iure inventore,
                eaque ducimus harum quod facilis dolores.            
           </p>
           <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
           <i class='bx bx-bar-chart-alt' ></i>
           <h3>Digital Marketing</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Impedit autem a delectus voluptatem sint. Iure inventore,
                eaque ducimus harum quod facilis dolores.            
           </p>
           <a href="#" class="btn">Read More</a>
         </div>
      </div> 
    </section>
    <section class="portfolio" id="portfolio">
       <h2 class="heading">Lastest <span>Project</span></h2>
       <div class="portfolio-container">
           <div class="portfolio-box">
               <img src="https://img.freepik.com/https://img.freepik.com/free-photo/photorealistic-portrait-african-women_23-2151435654.jpg?ga=GA1.1.2060405092.1721578648premium-photo/hand-drawn-style-line-doodle-pattern_971166-46726.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user" alt="">

               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>

           <div class="portfolio-box">
               <img src="https://img.freepik.com/premium-photo/feature-african-textile-dyeing-techniques_1237301-31514.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user" alt="">
               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>

           <div class="portfolio-box">
               <img src="https://img.freepik.com/free-photo/photorealistic-portrait-african-rastafarian-woman-with-dreads_23-2151516503.jpg?ga=GA1.1.2060405092.1721578648" alt="">

               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>

           <div class="portfolio-box">
               <img src="https://img.freepik.com/free-photo/photorealistic-portrait-african-rastafarian-woman-with-dreads_23-2151516489.jpg?ga=GA1.1.2060405092.1721578648" alt="">

               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>

           <div class="portfolio-box">
               <img src="https://img.freepik.com/free-photo/photorealistic-portrait-african-woman_23-2151435728.jpg?ga=GA1.1.2060405092.1721578648" alt="">

               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>

           <div class="portfolio-box">
               <img src="https://img.freepik.com/free-photo/photorealistic-portrait-african-rastafarian-woman-with-dreads_23-2151516526.jpg?ga=GA1.1.2060405092.1721578648" alt="">

               <div class="portfolio-layer">
                   <h4>Web Design</h4>
                   <p>Lorem ipsum, dolor sit amet consectetur 
                       adipisicing elit. Voluptatum, magnam quisquam?</p>
                       <a href="#"><i class='bx bx-link-external'></i></a>
               </div>
           </div>
       </div>
    </section>
    <h2 class="heading">Valuable <span>Testimonial</span></h2>
    <div class="testimonial-container">
       <div class="testimonial-wrapper">
           <div class="testimonial-box mySwiper">
               <div class="testimonial-container swiper-wrapper">
                   <div class="Testimonial-slide swiper-slide">
                       <img src="https://img.freepik.com/free-photo/smiley-girl-holding-camera_23-2148644998.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user" alt="">
                       <h3>Jackson Levi</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eius aspernatur modi, sint vitae nobis quam in. Voluptatibus sit laboriosam mollitia 
                            exercitationem, alias fuga officia eius ut voluptas nulla repudiandae debitis expedita quaerat hic consectetur 
                            cupiditate velit eligendi at pariatur labore sed modi vel maiores reiciendis! Consequatur maiores 
                            non obcaecati architecto laborum a, et vel numquam odio. 
                           Earum harum quibusdam eligendi.</p>
                   </div>

                   <div class="Testimonial-slide swiper-slide">
                       <img src="https://img.freepik.com/free-photo/medium-shot-plus-sized-woman-influencer_23-2151414149.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user" alt="">
                       <h3>Flora Ocean</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eius aspernatur modi, sint vitae nobis quam in. Voluptatibus sit laboriosam mollitia 
                            exercitationem, alias fuga officia eius ut voluptas nulla repudiandae debitis expedita quaerat hic consectetur 
                            cupiditate velit eligendi at pariatur labore sed modi vel maiores reiciendis! Consequatur maiores 
                            non obcaecati architecto laborum a, et vel numquam odio. 
                           Earum harum quibusdam eligendi.</p>
                   </div>

                   <div class="Testimonial-slide swiper-slide">
                       <img src="https://img.freepik.com/free-photo/excited-woman-taking-https://img.freepik.com/free-photo/group-young-african-friends-with-facemasks-using-phones-while-social-distancing-park_181624-43272.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user-cafe_74855-3402.jpg?ga=GA1.1.2060405092.1721578648&semt=ais_user" alt="">
                       <h3>Julian Grayson</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Eius aspernatur modi, sint vitae nobis quam in. Voluptatibus sit laboriosam mollitia 
                            exercitationem, alias fuga officia eius ut voluptas nulla repudiandae debitis expedita quaerat hic consectetur 
                            cupiditate velit eligendi at pariatur labore sed modi vel maiores reiciendis! Consequatur maiores 
                            non obcaecati architecto laborum a, et vel numquam odio. 
                           Earum harum quibusdam eligendi.</p>
                   </div>
               </div>
               <div class="swiper-button-next"></div>
               <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
           </div>
       </div>
    </div>
     
    <section class="Contact" id="contact">
       <h2 class="heading">Contact <span>Me!</span></h2>
       <form action="https://api.web3forms.com/submit" method="POST">
           <input type="hidden" name="access_key" value="6769f6a0-8627-4419-bbe0-e317209b4893">
           <div class="input-box">
               <input type="text" name="name" placeholder="name" required>
               <input type="email" name="email" placeholder="email" required>
           </div>
           <textarea name="message" cols="30" rows="10"placeholder="Your Message"></textarea>
           <div class="h-captcha" data-captcha="true"></div>
           <input type="submit" value="Send Message" class="btn">
       </form>
    </section>
    <div class="map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.3551670283664!2d1.3437716000000057!3d6.169528200000011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023e54978d1aad7%3A0x264edb516b3516df!2sHD3C-CENTER%20(Cyber%20Godwin)!5e0!3m2!1sfr!2stg!4v1705362029398!5m2!1sfr!2stg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer class="footer">
       <div class="footer-text">
           <p>Copyright &copy; 2023 by ArdPower</p>
       </div>
       <div class="footer-iconTop">
           <a href="#home"><i class='bx bx-up-arrow'></i></a>
       </div>
    </footer>
    <script src="https://web3forms.com/client/script.js" async defer></script>
    <!-- <script src="../backend/index.js"></script> -->
     <!-- swipper_js -->
     <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{url_for('static', filename='../static/backend/index.js')}}"></script>
</body>
</html>