<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalide credentila view page </title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/style_views/style.css')}}">
</head>
<body>
    <img src="https://img.freepik.com/free-psd/3d-rendering-cybersecurity-icon_23-2151462610.jpg?ga=GA1.2.2060405092.1721578648&semt=ais_user" class="image_run">
    <div class="erreur_box">
        <h1>Erreur: Identifiants non valides</h1>
        <p>Vérifiez votre identifiant et votre mot de passe et réessayez.</p>
        <a href="login_view.html">Retour à la page de connexion</a>
</body>
    </div>
</html>