<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='../static/style_views/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../static/style_views/style_regist_log.css')}}">
    <title>Login</title>
</head>
<body class="login_view_body">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="email" name="email" ><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login" class="btn_">
    </form>
</body>
</html>